body {
    font-family: sans-serif;
    background-color: grey;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: solid 2px rgb(0, 0, 0);
    box-shadow: 0 10px 100px 0 rgb(0, 0, 0);
}
iframe{
    width: 600px;
    height: 200px;
    border: solid 3px black;
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0);
    padding: 15px;
}
.p-one {
    color: white;
    background-color: black;
    text-align: center;
}
p {
    padding: 10px;
}
div {
    display: flex;
}
.center {
    justify-content:center;
}
